body {
    font-family: 'Verdana', sans-serif;
}

header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("../assets/bg-masthead.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
header.masthead:before {
    content: "";
    position: absolute;
    background-color: #1c375e;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
}
header.masthead h1, header.masthead .h1 {
    font-size: 2rem;
}
@media (min-width: 768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    header.masthead h1, header.masthead .h1 {
        font-size: 3rem;
    }
}

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.features-icons .features-icons-item {
    max-width: 20rem;
}
.features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
}
.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
}

.content-wrapper {
    background-color: white;
    text-align: center;
    padding: 20px;
    color: #212529;
    border-radius: 20px;
}

.file-upload-wrapper {
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}
.file-upload-wrapper input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.file-upload-wrapper label {
    display: block;
    padding: 0 10px;
    background: #eee;
    color: #333;
    cursor: pointer;
}
#file-chosen {
    margin-left: 10px;
    color: #666;
}

.convert-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.convert-button:hover {
    background-color: #006fae;
}

.showcase .showcase-text {
  padding: 3rem;
}
.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
