<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JHMF2NWM7R"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JHMF2NWM7R');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MelodyScribe: Convert MIDI to Annotated Sheet Music Easily</title>
    <meta name="description" content="MelodyScribe converts your MIDI files into sheet music annotated with letter notes. Easy, fast, and accurate MIDI to annotated sheet music conversion.">
    <meta name="google-adsense-account" content="ca-pub-6896113988459838">
    <link rel="canonical" href="https://www.melodyscribe.com/">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.png') }}" type="image/png">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6896113988459838" crossorigin="anonymous"></script>
</head>
<body>
    <video autoplay muted loop class="bg-video">
        <source src="{{ url_for('static', filename='assets/bgvideo.mp4') }}" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <img src="{{ url_for('static', filename='assets/bgimage.jpg') }}" class="bg-image" id="bg-image" alt="Piano keys and musical notes background image for MelodyScribe">
    <div class="container">
        <header>
            <h1>MelodyScribe</h1>
            <p>Convert MIDI Files to Annotated Sheet Music.</p>
        </header>

        <main>
            <form action="/predict" method="post" enctype="multipart/form-data" id="uploadForm">
                <div class="file-upload-wrapper">
                    <input type="file" name="file" id="file" accept=".mid,.midi">
                    <span id="file-chosen">Choose a MIDI File</span>
                </div>
                <button type="submit" class="convert-button">Convert</button>
            </form>
        </main>
        <footer>
            <p>© 2023 MelodyScribe</p>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
